@charset "utf-8";

header {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
  height: 70px;
  width: 100%;
}

.header_icons {
  display: flex;
  width: 100%;
}


.menu_icon {
  margin: 15px 0 15px 30px;
}

.fa-archway {
  color: #777;
  opacity: 0.8;
}

.fa-archway:hover {
  opacity: 1.0;
}

.contact_btn {
  margin-left: auto;
  margin-right: 30px;
  margin-top: 15px;
}

.contact_btn a {
  background-color: #6ba7eb;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  transition: all 0.3s;
}

.contact_btn a:hover {
  color: #333;
}

.inner {
  width: 1100px;
  width: 100%;
}

.keyvisual {
  background-image: url("../images/keyvisual/Image_main.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  height: 870px;
  text-align: left;
}

.main_title {
  padding: 400px 0 30px 40px;
  font-size: 65px;
  font-weight: 700;
  color:  #6ba7eb;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)
}

.sub_title {
  padding-left: 45px;
  padding-bottom: 400px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)
}

.news {
  background-color: #e3f2fd;
  box-sizing: border-box;
}

.inner.news {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.news_img_box {
  width: 40%;
}

.news_image {
  padding-top: 50px;
  max-width: 100%;
}

.news_content {
  width: 60%;
  text-align: center;
}

.section_title {
  font-size: 40px;
  letter-spacing: 10px;
}

.section_title.news {
  padding-top: 50px;
}

.news_text {
  font-size: 15px;
  height: 18px;
  letter-spacing: normal;
  font-weight: normal;
  word-break: break-all;
  padding-top: 40px;
}

.skills {
  background-color: #fff;
  text-align: center;
  padding: 50px 0 100px 0;
}

.section_title.skills {
  text-align: center;
  width: 100%;
}

.skill_area {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1100px;
  gap: 100px;
}

.skill_images {
  width: 300px;
  height: 300px;
}

.skill_images img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  display: block;
}

.skill_images img:hover {
  opacity: 1.0;
}

.plan {
  background-color: #d0dfea;
  padding: 50px 0 100px 0;
}

.section_title.plan {
  text-align: center;
}

.plan_table {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

.plan_table tr {
  text-align: center;
}

.plan_table thead th {
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  padding: 10px;
  border-right: 2px solid #fff;
}

.plan_table thead th:last-child {
  border-right: none;
}

.plan_table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.plan_table tr:nth-child(even) {
  background-color: #e0efff;
}

.plan_table thead tr:first-child {
  background-color: #6ba7eb;
}

.plan_table tbody td {
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.plan_table tbody td:last-child {
  border-right: none;
}

.plan_table tbody td:first-child {
  font-weight: bold;
}

.plan_table tbody tr:last-child {
  border-bottom: none;
}

.sns {
  background-color: #e3f2fd;
  padding: 200px 0;
}

.sns_contents {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.sns_icons a {
  color: #8c8c8c;
  font-size: 40px;
  width: 185px;
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 25px 0;
  transition: all 0.5s;
  border-radius: 6px;
}

.sns_icons a:hover {
  background-color: #fff;
}

footer {
  background-color: #cfd8dc;
  height: 70px;
  text-align: right;
}

footer p {
  padding: 25px 7px 25px 0;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #5f5f5f;
}